<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="webPages:Enabled" value="false" />
<!--        <add key="Environment" value="Production"/>-->
        <add key="Environment" value="Development" />
        <add key="DbUser" value="test" />
        <add key="DbPassword" value="test" />
        <add key="DbEndpointUrl" value="localhost" />
        <add key="DbEndpointPort" value="3306" />
        <add key="DatabaseToUse" value="mittosms" />
        <add key="LogFileForSms" value="C:\Users\Mahir\Documents\SmsDumps.log" />
        <add key="ConnectionString" value="Uid={DbUser};Password={DbPassword};Server={DbEndpointUrl};Port={DbEndpointPort};Database={DatabaseToUse}" />
<!--        <add key="ConnectionString" value="Uid={DbUser};Password={DbPassword};Server={DbEndpointUrl};Database={DatabaseToUse}" />-->
        <add key="testDb" value="Server=localhost;Database=servicestack;UID=test;Password=test;" />
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.5">
            <buildProviders>
                <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
            </buildProviders>
        </compilation>
        <httpHandlers>
            <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
        </httpHandlers>
        <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
    </system.webServer>
  
    <system.data>
      <DbProviderFactories>
        <remove invariant="MySql.Data.MySqlClient" />
        <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
    </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>